version: '3.9'

services:
  app:
    build: .
    container_name: recruiter_ai_app
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
      - ENV_FILE=.env
    volumes:
      - .:/app
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis/redis-stack:latest
    container_name: recruiter_ai_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:
