fastapi
docker
uvicorn[standard]
langchain
langchain_community
langchain_openai
langchain-anthropic
langchain_aws
langsmith
langgraph
openai
tiktoken
requests
deeplake==3.9.26
pypdf
docx2txt
unstructured
networkx
pandas
openpyxl
google-search-results
pytest
schedule